/.Rhistory
*.zip
/NGS21-023_Resultats/
*~
^#.*#$
^#
^\\#
*.R#
/script_heatmap_RNASeq_20210917.R
/gen_rds/
/NGS21-037_Resultats/
/README.org
*.org
.Rproj.user
/shinyproject.Rproj
/blabla.txt
/.RData
/demo_data.Rdata
/test.rds
/.Rbuildignore
/modules_diagram.drawio
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
